@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

/* font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif; */

:root {
    --main-bg: hsl(233, 47%, 7%);
    --card-bg: hsl(244, 38%, 16%);
    --accent: hsla(278, 61%, 50%, 0.7);

    --main-heading-stats: hsl(0, 0%, 100%);
    --main-para: hsla(0, 0%, 100%, 0.75);
    --stat-heading: hsla(0, 0%, 100%, 0.6);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--main-bg);
    /* display: flex;
  flex-direction: column;
  align-items: center; */
    font-family: "Inter", sans-serif;
}

.container {
    background-color: var(--card-bg);
    margin: 5rem 1.5rem 6rem 1.5rem;
    text-align: center;
    border-radius: 8px;
}

.container .img-section {
    background: url(images/image-header-mobile.jpg) no-repeat;
    background-size: cover;
    height: 250px;
    border-radius: 8px 8px 0 0;
}

/* img {
    mix-blend-mode: multiply;
    opacity: 0.8;
} */

.overlay {
    background: var(--accent);
    height: 250px;
    border-radius: 8px 8px 0 0;
}

.container .card {
    margin: 1.2rem 0 0 0;
    padding: 1rem;
}

.container .card h1 {
    color: var(--main-heading-stats);
}

.container .card h1 span {
    color: var(--accent);
}

.container .card p {
    color: var(--stat-heading);
    font-size: 15px;
    line-height: 1.6;
    font-family: "Lexend Deca", sans-serif;
    padding: 1rem;
}

.container .card ul {
    list-style-type: none;
    font-family: "Lexend Deca", sans-serif;
    margin: 1.3rem 0 0 0;
}

.container .card ul li {
    color: var(--stat-heading);
    text-transform: uppercase;
    margin: 1.2rem 0;
    font-size: 12px;
}

.container .card ul li span {
    display: block;
    font-size: 2rem;
    margin-bottom: 5px;
    color: var(--main-heading-stats);
    /* font-family: "Lexend Deca", sans-serif; */
    font-weight: 700;
}

.attribution {
    position: relative;
    bottom: 10px;
    font-size: 11px;
    text-align: center;
    color: var(--accent);
}

.attribution a {
    text-decoration: none;
    color: var(--stat-heading);
}

@media (min-width: 1024px) {
    body {
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }

    .container {
        display: flex;
        flex-direction: row-reverse;
        margin: 0;
    }

    .container .img-section {
        background: url(images/image-header-desktop.jpg) no-repeat;
        background-size: cover;
        width: 100%;
        height: auto;
        border-radius: 0 8px 8px 0;
    }

    .container .img-section .overlay {
        height: 100%;
        border-radius: 0 8px 8px 0;
    }

    .container .card {
        margin: 4rem 4rem 2rem 0.8rem;
        text-align: left;
    }

    .container .card h1 {
        margin-bottom: 1.8rem;
    }

    .container .card p {
        padding: 0;
    }

    .container .card ul {
        display: flex;
        justify-content: space-between;
    }

    .attribution {
        position: absolute;
        bottom: 10px;
    }
}

@media (max-width: 1200px) {
    .container {
        width: 90vw;
    }
}